.navbar {
    background-color: #e3f2fd;
}

.nav-link:hover {
    color: darkblue;
}

/* Carousel Styling */
.carousel-inner {
    height: 300px; /* Fija la altura del carrusel */
    overflow: hidden; /* Oculta la parte de la imagen que se sale */
}

.carousel-item {
    height: 300px; /* Mantiene la misma altura en todos los slides */
}

.carousel-item img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho disponible */
    height: 100%; /* Ajusta la altura al contenedor */
    object-fit: cover; /* Recorta la imagen para llenar el espacio sin deformarse */
    object-position: center; /* Centra la imagen tanto horizontal como verticalmente */
}

/* Video Styling */
video {
    border-radius: 12px;
    border: 6px solid #42a5f5;
    /* width: 350px; */
    height: 300px;
    box-shadow: 0px 4px 12px rgba(66, 165, 245, 0.5);
}

/* Sentiment Styling */ 
.sticker {
    width: 50px;
    height: 50px;
    display: block;
    margin: 10px auto;
}

.sentimientos div {
    background: #e9ecef;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Clasification Styling */
.department-container {
    background: #e9f7ef;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    color: #155724;
}