{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 text-center">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <div class="card shadow-lg border-0">
                <div class="card-body p-5">
                    <h1 class="text-primary fw-bold">Reconocimiento de voz y Análisis de texto</h1>
                    <p class="text-muted fs-5">¡Hola <span class="fw-bold">{{ user_name }}</span>! Detecta emociones en textos y obtén insights significativos.</p>
                    
                    <label for="textInput" class="form-label fw-bold">Ingresa una queja o sugerencia para analizar</label>
                    <div id="activateMic" class="mb-1">(O presiona <i class="fas fa-microphone text-primary"></i> para comenzar a hablar)</div>
                    <div id="deactivateMic" class="mb-1 d-none">(Escuchando... presiona <i class="fas fa-microphone-slash text-primary"></i> para detener)</div>
                    <div class="input-group">
                        <textarea class="form-control" id="textInput" name="text" rows="4" placeholder="Escribe aquí..." required></textarea>
                        <button class="btn btn-outline-secondary d-none" type="button" id="stopButton"><i class="fas fa-microphone-slash fa-beat fa-fw"></i></button>
                        <button class="btn btn-outline-secondary" type="button" id="startButton"><i class="fas fa-microphone fa-fw"></i></button>
                    </div>
                    <div>
                        <span class="text-danger" id="inputValidation"></span>
                    </div>
                    
                    <button type="button" id="enviarButton" class="btn btn-primary mt-4">Analizar texto <i class="fas fa-rotate fa-spin d-none"></i></button>
                </div>
                <div id="result" class="d-none">
                    <div class="container">
                        <h3>Resultado de Clasificación de Solicitudes</h3>
                        <div class="department-container fw-bold">
                            <strong>Departamento: </strong><span id="department"></span>
                            <!-- 📌 <strong>Departamento asignado:</strong> {% if departamento == 'Atención al Cliente' %}📞 Atención al Cliente{% elif departamento == 'Soporte Técnico' %}🛠️ Soporte Técnico{% elif departamento == 'Facturación' %}💰 Facturación{% elif departamento == 'Caja' %}🏦 Caja{% elif departamento == 'Recursos Humanos' %}👥 Recursos Humanos{% else %}🏢 Otro Departamento{% endif %} -->
                        </div>
                    </div>
                    <hr>
                    <div class="container">
                        <h3>Resultados de Análisis de Sentimiento</h3>
                        <div id="oraciones" class="sentimientos mt-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/text.js') }}"></script>
{% endblock %}
